* {
  box-sizing: border-box;
}

body {
  background-color: #0e0e10;
  color: rgb(241, 245, 249);
  font-family: 'Rubik', sans-serif;
  padding: 20px;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #fdfeff;
  margin-bottom: 30px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start; 
}


.categoria {
  background-color: #1c1f24;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
  margin-bottom: 20px;
  /* flex: 1; */
  min-width: 250px;
  max-width: 320px; /* Opcional: limita el ancho máximo */
  transition: box-shadow 0.2s;
  flex-basis: auto; /* NUEVO: tamaño base de la columna */
}

.categoria:hover {
  box-shadow: 0 10px 24px rgba(255, 255, 255, 0.041);
}

.categoria h2 {
  background: rgba(34,197,94,0.08); /* Verde suave para Disponible */
  border-radius: 8px;
  padding: 8px 0 8px 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f8fafc;
  margin-bottom: 15px;
  border-bottom: 1px solid #334155;
}

.categoria:nth-child(2) h2 { background: rgba(251,191,36,0.08); }
.categoria:nth-child(3) h2 { background: rgba(239,68,68,0.08); }

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.poco {
  color: #f59e0b;
}

.agotado {
  color: #dc2626;
  /*text-decoration: line-through;*/
}

.categoria ul {
  list-style: none;       /* Quita los puntos de la lista */
  padding-left: 0;        /* Elimina el sangrado izquierdo */
  margin: 0;
}

.categoria li {
  padding: 8px 0;                            /* Espaciado vertical entre ítems */
  border-bottom: 1px solid #2d2d31;         /* Línea separadora entre ítems */
  color: #d1d5db;                           /* Color claro para el texto */
  font-size: 15px;
}

.categoria li:hover {
  background: #27272a;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .categoria {
    width: 100%;
  }

  .contenedor {
    flex-direction: column;
    align-items: center;
  }

  .busqueda {
    width: 90vw;   /* La barra ocupará el 90% del ancho de la pantalla */
    max-width: 100%;
    font-size: 18px;
  }
}

.categoria ul {
  display: none;
}

.categoria.activa ul {
  display: block;
}

.categoria h2 {
  cursor: pointer;
}

.busqueda {
  padding: 8px 12px;
  width: 320px;
  border-radius: 6px;
  border: 1px solid #334155;
  background: #23272f;
  color: #f1f5f9;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}

.busqueda:focus {
  border-color: #22c55e;
}
